html{
    font-size: 100px;
    box-sizing: border-box;
    
}
@font-face {
    font-family: "Silkscreen";
    src: url(De-clutter/slkscr.ttf);
  }

body{
    position: sticky;
    width: 100%;
    background-color: #e4dbed;
    text-align: center;
    font-size: large;
    font-family: "Silkscreen";
    color:#535886;

}

.container{
    width: 900px;
    height: 640px;
    margin: auto;
}

.background{
    background-size: cover; 
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.window {
    position: absolute;
    top: 223px;
    left: 390px;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 700px;
    opacity: 0.2;
  }

  .window:hover{
    filter: brightness(80%);
  }

  .window:active { 
    filter: brightness(60%);
} 

.backButton{
    position: absolute;
    top: 50px;
    left: 40px;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    opacity: 100px;
}

.Button:hover{
    filter: brightness(80%);
  }

.Button:active { 
    transform:scale(0.96);
} 
.backWords{
    position: absolute;
    top: -20px;
    left: 60px;
}

.wordBubble{
    position:absolute;
    top:450px;
    left:30px;
    background-color: white;
    padding:10px;
}

.textContainer{
    display: inline-block;
    //background-color: grey;
}

.text{
    font-size: 15px;
    width: 100%;
    white-space:nowrap;
    overflow: hidden;
    animation:
        typing 2s, steps(10);
}

@keyframes typing{
    from {width:0 }
}

.chat-output{
    position: absolute;
    background-color: white;
    font-size: 15px;
}

footer{
    padding: 20px;
}